.btn {
  position: relative;
  vertical-align: top;
  height: 50px;
  padding: 14px 25px;
  border: 0;
  background-color: $color-red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  min-width: 250px;
  transition: all 0.3s;
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    background-color: #962a3a;
  }
  
  &:active {
    background-color: darken($color-gray-10, 5%);
  }
}

.btn_disabled {
  border-color: $color-gray-40;
  background-color: $color-gray-10;
  color: $color-gray-60;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-40;
    background-color: $color-gray-10;
    color: $color-gray-60;
  }
}

.btn_standart {
  border-color: $color-blue-30;
  background-color: $color-blue-30;
  color: $color-white;

  &:hover,
  &:focus {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
  }

  &:active {
    border-color: darken($color-blue-50, 5%);
    background-color: darken($color-blue-50, 5%);
  }
}


.btn_attach {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: 0;
  color: $color-blue-30;
  font-family: $font-family_bold;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    color: $color-blue-50;
  }

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.btn_upload {
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.transp {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #fff;
  font-family: $font-family;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
}

.btn_gray {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px dashed $color-gray;
  color: $color-gray-50;
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: $color-red;
      color: $color-red;
    }
}