.footer {
  background-color: $color-gray-5;
}

.footer__inner {
  @extend .layout-inner;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    &_bottom {
      margin-bottom: 80px;
        p {
          opacity: 0.5;
          font-size: 14px;
        }
      .copyright {
        opacity: 0.5;
        font-size: 12px;
        max-width: 780px;
        margin-bottom: 20px;
      }
      .about_m {
        margin-bottom: 20px;
      }
      .age {
        font-size: 24px;
      }
    }
    &_top {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 80px;
        &__item {
          width: calc(33.333% - 32px);
          margin-right: 32px;
          font-size: 14px;
            .bold {
              margin-bottom: 40px;
            }
            .ico_text {
              align-items: flex-start;
              margin-bottom: 25px;
                .ico_p {
                  opacity: 1;
                }
              .ico {
                svg {
                  width: 17px;
                }
              }
            }
            &:last-child {
              margin-right: 0;
            }
          .links_list {
            max-width: 300px;
              p {
                margin-bottom: 13px;
              }
          }
          .phones {
            p {
              margin-bottom: 13px;
            }
          }
          .social {
            margin-bottom: 40px;
          }
          .control {
              margin-bottom: 40px;
              &:last-child {
                margin-bottom: 0;
            }
          }
        }
    }
}

.footer_mobile {
  padding: 20px 0;
  display: none;
    .footer__inner {
      &_bottom {
        margin-bottom: 20px;
      }
      &_accordion {
        width: 100%;
        margin-bottom: 40px;
        .accordion__btn {
          background-color: transparent;
          color: #000000;
          border-bottom: 1px dashed $color-gray;
            &:before {
              background-color: #000;
            }
          &:after {
            background-color: #000;
          }
        }
        .accordion__content {
          padding: 20px 0;
          background-color: transparent;
            .info_box {
              display: flex;
              flex-wrap: wrap;
              width: 100%;
                .ico_text {
                  align-items: flex-start;
                    &:last-child {
                      margin-top: 25px;
                    }
                  p {
                    margin-bottom: 0;
                  }
                  .phones {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                      p {
                        margin-right: 15px;
                        margin-bottom: 5px;
                      }
                  }
                }
            }
          .avards {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
              .control {
                margin-right: 40px;
                margin-bottom: 25px;
                  img {
                    max-width: 200px;
                  }
              }
              .silver {
                img {
                  max-width: 260px;
                }
              }
          }
        }
      }
    }
}

.social {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
    a {
      margin-right: 10px;
      margin-bottom: 10px;
      img {
        width: 40px;
        height: 40px;
        filter: grayscale(100%);
        opacity: 0.5;
        transition: all 0.3s;
        display: block;
      }
      &:hover {
        img {
          width: 40px;
          height: 40px;
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
}

.copir {
  font-family: $font-agopus;
}
