.page_inside {
  background: linear-gradient(0deg, #fff, $color-gray-5);
}

.box {
  padding-top: 80px;
  &_header {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      h1 {
        margin-bottom: 0;
      }
      h2 {
        margin-bottom: 0;
      }
      h3 {
        margin-bottom: 0;
      }
  }
  &_info {
    margin-bottom: 50px;
  }
  &_text {
    margin-bottom: 50px;
    max-width: 800px;
    width: 100%;
    //display: flex;
    //align-items: flex-start;
    //justify-content: space-between;
      &__left {
        max-width: 540px;
      }
      p {
        margin-bottom: 20px;
      }
    &__right {
      max-width: 560px;
      &_slider {
        margin-left: 40px;
        .btr_slider {
          width: 100%;
          margin-bottom: 15px;
            .btr_slide {
              width: 100%;
              display: block;
              img {
                display: block;
                width: 100%;
              }
            }
        }
      }
    }
  }
  .box_announce {
    width: 100%;
    max-width: 100%;
  }
  &_breadcrumbs {
    margin-bottom: 50px;
    .breadcrumbs_list {
      display: flex;
      font-size: 16px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li a {
        color: #000;
        text-decoration: none;
        &:hover {
          color: $color-red;
        }
      }
      li p {
        color: #000;
        opacity: 0.4;
      }
      li span {
        margin: 0 4px;
      }
    }
  }
  &_searchform {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
      &__item {
        display: flex;
        align-items: center;
        margin-right: 30px;
          p {
            margin-right: 25px;
          }
      }
  }
  &_filter {
    margin-bottom: 50px;
    font-size: 24px;
    color: #bebebe;
    line-height: 24px;
      a {
        font-size: 24px;
        text-decoration: none;
        color: #777777;
        font-family: $font-family_bold;
        margin: 0 15px;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px dashed transparent;
          &:first-child {
            margin-left: 0;
          }
          &:hover {
            border-bottom: 2px dashed #777777;
          }
      }
      .active {
        color: $color-red;
        border-bottom: 2px dashed $color-red;
        &:hover {
          border-bottom: 2px dashed $color-red;
        }
      }
  }
  &_body {
    width: 100%;
    .tabs_container {
      width: 100%;
      max-width: 560px;
    }
  }
  &_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    &__left {
      width: -webkit-fill-available;
      margin-right: 40px;
      .box_accordion {
        width: 100%;
        max-width: 850px;
      }
    }
    &__right {
      width: auto;
    }
    &__block {
      width: 100%;
        .price_table {
          margin-bottom: 50px;
        }
        .list_base {
          margin-bottom: 25px;
          li {
            p {
              opacity: 0.7;
              max-width: 80%;
            }
          }
        }
    }
  }
  .box_dual {
    display: flex;
    justify-content: space-between;
  }
}

.box_second {
  padding-top: 0;
}

.gallery_tile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  //align-items: inherit;
  align-items: stretch;
    &__item {
      width: calc(33.333% - 22px);
      margin-right: 32px;
      border: 1px dashed $color-gray;
      margin-bottom: 32px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      color: #000;
      text-decoration: none;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
       &_img {
         margin: 13px;
         overflow: hidden;
         position: relative;
          img {
            transition: all 0.5s ease-in-out;
          }
         .ticket {
           position: absolute;
           right: 15px;
           top: 15px;
           background-color:$color-red;
           border-radius: 50%;
           width: 60px;
           height: 60px;
           display: flex;
           align-items: center;
           justify-content: center;
           opacity: 0;
           z-index: 8;
           transition: all 0.3s ease-in-out;
         }
        }
       &_text {
          padding: 17px 30px 30px 30px;
            .title {
              font-family: $font-family_bold;
              margin-bottom: 25px;
              font-size: 19px;
              line-height: 1.2;
            }
         .desc {
           .ico_text {
             margin-bottom: 5px;
              .ico {
                margin-right: 15px;
              }
           }
           p {
             opacity: 0.5;
             font-size: 14px;
           }
         }
        }
       &:nth-child(3n+3) {
         margin-right: 0;
       }
      &:after {
        transition: all 0.3s;
        position: absolute;
        right: -40px;
        bottom: -10px;
        z-index: 2;
        width: 10px;
        height: 10px;
        border: 10px solid transparent;
        border-bottom: 10px solid $color-red;
        content: '';
        transform: rotate(135deg)
      }
      &:hover {
        border-color: $color-red;
        transition: all 0.3s ease-in-out;
        -webkit-box-shadow: 10px 10px 27px 6px #ebebeb;
        box-shadow: 10px 10px 27px 3px #ebebeb;
        .gallery_tile__item_img img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          transition: all 1s ease-in-out;
        }
          .ticket {
            opacity: 1;
            transition: all 0.3s ease-in-out;
            img {
              transform: none;
            }
          }
        &:after {
          position: absolute;
          transition: all 0.3s;
          right: -15px;
          bottom: -15px;
          z-index: 2;
          width: 15px;
          height: 15px;
          border: 15px solid transparent;
          border-bottom: 15px solid $color-red;
          content: '';
          transform: rotate(135deg)
        }
      }
    }
}

.box_accordion {
  width: 100%;
    .accordion {
      border: 1px dashed $color-red;
      border-bottom: transparent;
        &__btn {
          background-color: transparent;
          padding-left: 25px;
          height: 65px;
        }
      &__text {
        left: 25px;
      }
      &__content {
        padding-top: 20px;
        border-bottom: 1px dashed $color-red;
        background-color: transparent;
        padding-left: 25px;
          p {
            font-size: 16px;
            max-width: 700px;
          }
        .ico_text__base {
          margin-top: 15px;
        }
      }
      &__item {
        &_open {
          .accordion__btn {
            border-bottom: transparent;
          }
        }
      }
    }
}

.acc_gray {
  .accordion {
    border: 1px dashed $color-gray;
    border-bottom: transparent;
    &__btn {
      background-color: transparent;
      padding-left: 25px;
      border-bottom: 1px dashed $color-gray;
        &:before {
          background-color: #000;
        }
        &:after {
          background-color: #000;
        }
    }
    &__text {
      left: 25px;
      color: #000;
      font-size: 18px;
      font-family: $font-family;
    }
    &__content {
      border-bottom: 1px dashed $color-gray;
      p {
        font-size: 16px;
        opacity: 0.7;
      }
    }
  }
}

.exc_text {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 10px;
  }
}

.show_more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.page_place {
  .page_map_box {
    margin-bottom: 0;
  }
}

.block_gray {
  background-color: $color-gray-5;
  padding: 40px;
}

.box_dual {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.info_island {
  .block_gray {
    max-width: 470px;
    margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
  }
}

.block_gray {
  &__title {
    margin-bottom: 25px;
    font-size: 16px;
  }
  &__body {
    .ico_text {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.side_right {
  padding: 30px;
}

.phones_block {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;
    .ico_text {
      align-items: flex-start;
    }
}

.ico_phone {
  opacity: 1 !important;
  font-size: 16px !important;
  display: block;
  margin-top: -3px;
    p {
      opacity: 0.5;
      margin-top: 3px;
    }
}

.ico_text__base {
  .ico {
    margin-right: 15px;
  }
  .ico_p {
    opacity: 1;
  }
  .black {
    font-size: 16px;
    color: #000;
    opacity: 1 !important;
  }
}

.ico_p {
  .link_black {
    opacity: 1;
  }
}

.rouble {
  min-width: 14px !important;
  width: 14px;
}

.img_text {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
    .image_box {
      display: block;
      margin-right: 25px;
        .helic {
          width: 42px;
          height: 24px;
        }
    }
}

.ico_text_single {
  .ico_p {
    opacity: 1;
    font-size: 16px;
    p {
      opacity: 1;
    }
  }
}

.dashed_red {
  border-color: $color-red;
  padding: 30px;
}

.orn_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.under_text {
  max-width: 50%;
  font-size: 14px;
}

.ship {
  width: 80px;
  max-width:80px;
}

.vel {
  width: 70px;
  max-width: 70px;
}

.planet {
  align-items: center;
  margin-top: 25px;
    .ico {
      img {
        width: 25px;
        height: 25px;
      }
    }
    .ico_p {
      font-size: 14px;
      opacity: 1;
    }
}

.gray_title {
  margin-bottom: 25px;
}

.announce_tile {
  margin-bottom: 0;
}

.share {
  display: flex;
  align-items: center;
  p {
    margin-right: 15px;
  }
    &__box {
      display: flex;
      align-items: center;
        a {
          img {
            display: block;
            width: 40px;
            height: 40px;
            transition: all .3s;
            margin-right: 10px;
            opacity: .5;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }
          &:hover {
            img {
              opacity: 1;
              -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
            }
          }
        }
    }
}

.map_box {
  width: 100%;
  height: 400px;
  background-color: $color-gray-5;
    .map {
      width: 100%;
      height: 100%;
    }
}

.black_ico {
  margin-bottom: 15px;
  .ico_p {
    opacity: 1;
  }
}

.block_black {
  justify-content: flex-start;
  flex-wrap: wrap;
  .ico_text {
    margin-bottom: 5px;
    width: auto;
    margin-right: 45px;
  }
}

.post_text {
  align-items: center !important;
}

.text_black {
  margin-top: 25px;
}