.logo_mobile {
  display: none;
}

@media (max-width: 1200px) {
  .box_404 {
    padding: 20px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .unesco {
    max-width: 90%;
    bottom: 120px;
  }
  .header_top {
    top: 40px;
  }
  .page {
    width: 100%;
  }
  .page_main__item {
    max-width: 100%;
    padding: 0 !important;
    margin-bottom: 0 !important;
      .page__inner {
        flex-direction: column;
      }
  }
  .page__inner {
    min-width: 100%;
    width: 100%;
  }
  .layout-inner {
    min-width: 100%;
    width: 100%;
  }
  .footer {
    display: none;
  }
  .header_top {
    padding: 0 40px;
      .link_lang {
        display: none;
      }
  }
  .hs_buttons {
    padding: 0 40px;
  }
  .slide_one {
    -webkit-background-size:cover;
    background-size:cover;
  }
  .slide_two {
    background-position: top center;
  }
  .page_main__item .page__inner .left {
    width: 100%;
      .left__inner {
        width: 100%;
          .left_content {
            padding-left: 40px;
          }
      }
  }
  .page_main__item .page__inner .right {
    width: 100%;
    .right__inner {
      width: 100%;
      padding: 0 40px;
      align-self: auto;
        .right_content {
          padding-left: 0;
          margin-bottom: 80px;
          padding-top: 50px;
        }
    }
  }
  .banner {
    width: 100%;
    margin-top: 0;
      &_nav {
        margin-bottom: 25px;
      }
  }
  .page__item {
    margin-bottom: 50px;
    padding: 0 40px;
    background-color: transparent;
  }
  .all-wide:after {
    display: none;
  }
  .all-wide {
    background: linear-gradient(0deg, #fff, $color-gray-5);
  }
  .banner .banner_slider__slide {
    flex-direction: column;
    width: 100%;
      .left {
        width: 100%;
      }
      .right {
        display: none;
      }
  }
}

@media (max-width: 640px) {
  .header_main {
    height: 400px;
  }
  .header_top {
    padding: 0 40px;
  }
  .header_slider .hs_slider__slide {
    width: 100%;
    height: 100%;
    min-height: 400px;
  }
  .logo {
    display: none;
  }
  .transp {
    line-height: 14px;
    font-size: 14px;
  }
  .header_top__right .nav_block__item {
    margin: 0 15px;
    line-height: 15px;
  }
  .link_vs {
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
  }
  .hs_buttons .btn_prev {
    width: 40px;
    height: 40px;
  }
  .hs_buttons .btn_next {
    width: 40px;
    height: 40px;
  }
  .arr_left, .arr_right {
    width: 10px;
    height: 10px;
  }
  .main_p {
    font-size: 15px;
  }
  .page_main__item .page__inner .left .left__inner .left_content {
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 80px;
  }
  h3 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
  }
  .block .block_header {
    margin-bottom: 30px;
  }
  .hs_buttons {
    padding: 0 20px;
  }
  .name {
    font-size: 16px;
  }
  .block_announce {
    padding: 15px;
  }
  .page_main__item .page__inner .right .right__inner {
    padding: 0 20px;
  }
  .page_main__item .page__inner .right .right__inner .right_content {
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 0;
  }
  .page__item {
    padding: 0 20px;
  }
  .all-wide {
    margin-bottom: 40px;
  }
  .block_announce .an_btns {
    right: 20px;
    bottom: 20px;
  }
  .search_box {
    padding: 20px;
      .search_input {
        width: -webkit-fill-available;
        min-width: 180px;
      }
    &__inner {
      .close {
        min-width: 60px;
      }
    }
  }
  .header_simple .header_top {
    padding: 30px 40px;
  }
  .logo_mobile {
    display: block;
      img {
        width: 60px;
      }
  }
  .header_top {
    top: 30px;
  }
  .unesco {
    bottom: 100px;
    img {
      width: 100px;
    }
  }
  .social {
    margin-bottom: 20px;
  }
}